:root {
    --main-size: 450px;
    --main-color: #169b45;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.header-logo {
    height: 90px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.main-panel {
    width: var(--main-size);
}

.button-custom {
    max-width: var(--main-size);
    min-height: 48px;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.107em;
    padding: 10px 100px;
}

.button-login {
    width: 120px;
    height: 48px;
    background-color: #1ed760;
    border: none;
    color: black;
}

.button-signup {
    width: 35%;
    height: 48px;
    background-color: #1ed760;
    border: none;
    color: black;
}

.input-custom {
    height: 48px;
    font-size: 1rem;
    font-weight: 400;
}

.checkbox-custom {
    width: 16px;
    height: 16px;
}

.checkbox-custom:checked {
    background-color: var(--main-color);
    border: none;
}

.radio-custom:checked {
    background-color: var(--main-color);
}

.top-text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.05em;
    text-align: center;
}

.bottom-text {
    font-size: 10px;
    margin: 5px 0;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .header-logo {
        height: 80px;
    }

    .button-custom {
        font-size: 0.775rem;
        padding: 10px;
    }

    .rwd-btnlogin {
        display: flex;
        flex-direction: column;
    }

    .button-login {
        margin-top: 20px;
        width: 100%;
    }

    .button-signup {
        width: 45%;
    }

    .icon-button {
        display: none;
    }
}

@media only screen and (max-width: 250px) {
    .main-panel {
        overflow: auto;
    }
}